Starterkit/node-red.json
[
    {
        "id": "480e66f81a611ad8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d9aabcc9be3eacb",
        "type": "plc-read-variables",
        "z": "480e66f81a611ad8",
        "plc_connector": "5bfa3003af61181a",
        "variables": "Arp.Plc.Eclr/OEE",
        "searchbar": "",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "fdf01f1c27a5ffba",
                "edd2f7dc0365d514"
            ]
        ]
    },
    {
        "id": "5b53b9ba8e18a557",
        "type": "inject",
        "z": "480e66f81a611ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1d9aabcc9be3eacb"
            ]
        ]
    },
    {
        "id": "fdf01f1c27a5ffba",
        "type": "debug",
        "z": "480e66f81a611ad8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "b10c06641ef9c925",
        "type": "debug",
        "z": "480e66f81a611ad8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "edd2f7dc0365d514",
        "type": "change",
        "z": "480e66f81a611ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variables[0].value.OverallOEE",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "b10c06641ef9c925",
                "3632c7362a4615b9"
            ]
        ]
    },
    {
        "id": "3632c7362a4615b9",
        "type": "ui_gauge",
        "z": "480e66f81a611ad8",
        "name": "",
        "group": "50d211f4d219c7ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "OEE",
        "format": "{{value | number:1 }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "fd27e93830e67dac",
        "type": "ui_numeric",
        "z": "480e66f81a611ad8",
        "name": "",
        "label": "Rework",
        "tooltip": "",
        "group": "50d211f4d219c7ee",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b23a69f09a0b98e4"
            ]
        ]
    },
    {
        "id": "14904b47a03e4e67",
        "type": "plc-write-variables",
        "z": "480e66f81a611ad8",
        "plc_connector": "5bfa3003af61181a",
        "vars": "",
        "var_list": "{\"items\":[]}",
        "searchbar": "msg.payload",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "7422764d7876d647"
            ]
        ]
    },
    {
        "id": "b23a69f09a0b98e4",
        "type": "function",
        "z": "480e66f81a611ad8",
        "name": "function 1",
        "func": "var value = msg.payload;\nmsg.payload= {variables : [\n        {\n          \"path\": \"Arp.Plc.Eclr/Rework\",\n          \"value\": value,\n          \"valueType\": \"Constant\"\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "14904b47a03e4e67",
                "b5dd3e3934484b1e"
            ]
        ]
    },
    {
        "id": "b5dd3e3934484b1e",
        "type": "debug",
        "z": "480e66f81a611ad8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "7422764d7876d647",
        "type": "debug",
        "z": "480e66f81a611ad8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "5bfa3003af61181a",
        "type": "plc-connector",
        "host": "192.168.3.20",
        "station_name": "",
        "session_timeout": "5000",
        "api_version": "v1.4",
        "auth_required": "true"
    },
    {
        "id": "50d211f4d219c7ee",
        "type": "ui_group",
        "name": "",
        "tab": "373c5d9b18f2fde3",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "373c5d9b18f2fde3",
        "type": "ui_tab",
        "name": "IIoT Gateway Connector",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
