Starterkit/node-red.json
[
    {
        "id": "480e66f81a611ad8",
        "type": "tab",
        "label": "OEE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d9aabcc9be3eacb",
        "type": "plc-read-variables",
        "z": "480e66f81a611ad8",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/OEE_IEE1.OEE",
        "searchbar": "",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "edd2f7dc0365d514"
            ]
        ]
    },
    {
        "id": "5b53b9ba8e18a557",
        "type": "inject",
        "z": "480e66f81a611ad8",
        "name": "Inject every 5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "1d9aabcc9be3eacb"
            ]
        ]
    },
    {
        "id": "edd2f7dc0365d514",
        "type": "change",
        "z": "480e66f81a611ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variables[0].value.OEE",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "3632c7362a4615b9"
            ]
        ]
    },
    {
        "id": "3632c7362a4615b9",
        "type": "ui_gauge",
        "z": "480e66f81a611ad8",
        "name": "",
        "group": "d75be490ec129dac",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "OEE",
        "format": "{{value | number:1 }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "fd27e93830e67dac",
        "type": "ui_numeric",
        "z": "480e66f81a611ad8",
        "name": "",
        "label": "Rework",
        "tooltip": "",
        "group": "d75be490ec129dac",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b23a69f09a0b98e4"
            ]
        ]
    },
    {
        "id": "14904b47a03e4e67",
        "type": "plc-write-variables",
        "z": "480e66f81a611ad8",
        "plc_connector": "b17d34f713647319",
        "vars": "",
        "var_list": "{\"items\":[]}",
        "searchbar": "msg.payload",
        "x": 510,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b23a69f09a0b98e4",
        "type": "function",
        "z": "480e66f81a611ad8",
        "name": "function 1",
        "func": "var value = msg.payload;\nmsg.payload= {variables : [\n        {\n          \"path\": \"Arp.Plc.Eclr/OEE_IEE1.OEE.Quality.rRework\",\n          \"value\": value,\n          \"valueType\": \"Constant\"\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "14904b47a03e4e67"
            ]
        ]
    },
    {
        "id": "b17d34f713647319",
        "type": "plc-connector",
        "host": "192.168.1.15",
        "station_name": "PLCnext",
        "session_timeout": "5000",
        "api_version": "v1.4",
        "auth_required": "false"
    },
    {
        "id": "d75be490ec129dac",
        "type": "ui_group",
        "name": "OEE Dashboard",
        "tab": "fccb06d532bb6e01",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fccb06d532bb6e01",
        "type": "ui_tab",
        "name": "Overall Equipment Effectiveness",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]